/* --------------------------- */
/* Navigation bar */

.topnav {
  overflow: hidden;
  background-color: #eccef5;
}

.topnav a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 17px;
}

/* --------------------------- */
/* Recipe Tab */

.colorbox {
	background:lightgrey;
	width:90%;
	/* for IE */
	filter:alpha(opacity=80);
 	/* CSS3 standard */
 	opacity:0.8;
	margin: 0 auto;
  padding: 1px 15px;
}

a {
    display: block;
    text-decoration: none;
}

a img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;

    height: 100px;
    padding: 5px 5px 5px 5px;
}

a span {
    display: inline-block;
    vertical-align: middle;
}

/* --------------------------- */
/* Recipe Popup */

/* order the list as a block */
/*li {
    display: block;
    width: 25%;
    float: left;
}*/

/* Popup container */
.popup {
   position: relative;
/*   display: inline-block;*/
   cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
   visibility: hidden;
   width: 110%;
   height: auto;
   font-size: 25px;
   background-color: #F5DA81;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 20px 0;
   position: absolute;
   z-index: 1;
   bottom: -200%;
   left: 50%;
   margin-left: -55%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
   visibility: visible;
   -webkit-animation: fadeIn .5s;
   animation: fadeIn .5s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: .9;}
}

@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: .9;}
}
